*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-attachment: fixed;
    background:url(../images/fundo.jpeg) ;
}

.container-menu{
    background-color: rgba(0,0,0,0.6);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: -10px;
}
.container-menu img{
    margin-left: 40px;
}
.menu ul{
    display: flex;
    flex-direction: row;
    margin: 0 10px;
}
.menu li{
    margin: 8px;
    list-style: none;
}
.cadastro{
    background-color: rgb(29, 29, 175);
    color: white;
    border-radius: 15px;
}
 .cd{ 
    border-radius: 15px;
    display: block;
    text-align: right;
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    transition: .4s;
    padding: 17px;
    font-size: 18px;
 }
 .cd:hover{
     color: yellowgreen;
 }
 a{
    
    font-size: 0.9rem;
    color: #ccc;
    text-decoration: none;
    text-align: right;
    display: block;
}
a:hover{ 
    color: #0f0;
}
.menu a{ 
    text-decoration: none;
    padding: 17px;
    font-size: 18px;
}
.container{ 
    
    font-size: 25px;
    color: #ccc;
    display: flex;
    flex-direction: column;
    width:1049px ;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    word-wrap: break-word;
}
.container1{ 
    margin-top: 5px;
    height: 100%; 
    width: 100%;
    display: flex;
    justify-content: center;
}
.salad{
    width: 346px;
    transition: .4s;

}
.salad:hover{
    width: 496px;
    
}

.salada{ 
    margin: 30px;
    width: 350px;
    height: 236px;
    display: block;
    text-align: center;
    transition: .4s;
    
}
.salada:hover{
    width: 500px;
}

.coracao{ 
    justify-content: center;
    text-align: center;
    margin-left: 30px;
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    transition: .4s;
}
.cora{
    transition: .4s;
}
.cora:hover{
    width: 496px;
}
img{
    width: 346px;
}
.coracao:hover{
    width:500px;
}